* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 2%;
    text-decoration: underline;
    background-color: khaki;
}

.redes {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background-color: khaki;
}

.derechos {
    display: flex;
    justify-content: center;
    background-color: khaki;
    padding: 3%;
    font-weight: bolder;
}

.p {
    display: flex;
    justify-content: center;
}