* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-decoration: underline;
}

.redes {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background-color: rgb(239, 233, 233)
}

.derechos {
    display: flex;
    justify-content: center;
    padding: 3%;
    font-weight: bolder;
    background-color: rgb(239, 233, 233)
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

.img {
    width: 50%;
    display: block;
    margin: auto;
    padding: 1%;
    object-fit: cover;
    width: 40%;
    height: 50%;
}

.descripcion{
    display: flex;
    justify-content:center ;
    text-decoration: underline;
}

.pro{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.contacto{
    text-decoration: underline;
    margin: 10px;
}

.whap{
    color: rgb(5, 172, 5);
}

.insta{
    color: rgb(102, 39, 39);
}

.botonC{
    display: flex;
    margin: 8px;
}

.maps{
    text-align: center;
}

.contacto2{
    padding: 50px;
}

.ubicacion{
    text-decoration: underline;
}

.numero{
    text-decoration: underline;
}

.email{
    text-decoration: underline;
}

.jeans{
    text-align: center;
}

.ver{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.bienvenidos{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    height: 10px;
}